<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwExceptions="true">

  <targets>
    <target name="console"
            xsi:type="ColoredConsole"
            layout="${level} ${message}" />

    <target name="viewer"
            xsi:type="NLogViewer"
            address="udp://127.0.0.1:9999" />


    <!--<target xsi:type="Network"
            name="viewer"
            address="udp://127.0.0.1:9998">
      <layout xsi:type="Log4JXmlEventLayout"/>
    -->

    <target name="file"
            xsi:type="File"
            fileName="${environment:variable=userprofile}\Desktop\output.log"/>

  </targets>

  <rules>
    <logger name="*"
            minlevel="Trace"
            writeTo="viewer,console" />
  </rules>
</nlog>
