# .NET Desktop
# Build and run tests for .NET Desktop or Windows classic desktop solutions.
# Add steps that publish symbols, save build artifacts, and more:
# https://docs.microsoft.com/azure/devops/pipelines/apps/windows/dot-net

pool:
  vmImage: 'windows-latest'

variables:
  solution: '**/*.sln'
  buildPlatform: 'Any CPU'
  buildConfiguration: 'Release'

steps:
- task: NuGetToolInstaller@0

- task: NuGetCommand@2
  inputs:
    restoreSolution: '$(solution)'

- task: GitVersion@5
  inputs:
    runtime: 'core'
    configFilePath: 'GitVersion.yml'
    updateAssemblyInfo: true
    updateAssemblyInfoFilename: 'SharedAssemblyInfo.cs'

- task: VSBuild@1
  displayName: "Build standalone"
  inputs:
    solution: '**\*.sln'
    platform: 'any cpu'
    configuration: 'Standalone'
    maximumCpuCount: true
    msbuildArchitecture: 'x64'
    createLogFile: true
    logFileVerbosity: 'detailed'

- task: PowerShell@2
  displayName: "Debug #1"
  inputs:
    targetType: 'inline'
    script: |
      pwd
      Write-Host "Build.BinariesDirectory"
      ls -recurse $env:Build.BinariesDirectory *.exe | Format-Table
      Write-Host "Build.Repository.LocalPath"
      ls -recurse $env:Build.Repository.LocalPath *.exe | Format-Table
      Write-Host "GitVersion variables"
      ls env:GitVersion*

- task: CopyFiles@2
  inputs:
    SourceFolder: '$(Build.Repository.LocalPath)/Sentinel/Bin/Standalone'
    Contents: |
      *.config
      *.exe
      *.dll
    TargetFolder: '$(Build.ArtifactStagingDirectory)/Standalone'
    CleanTargetFolder: true

- task: ArchiveFiles@2
  displayName: "Zip standalone"
  inputs:
    rootFolderOrFile: '$(Build.ArtifactStagingDirectory)/Standalone'
    includeRootFolder: false
    archiveType: 'zip'
    archiveFile: '$(Build.ArtifactStagingDirectory)/Releases/Sentinel-$(GitVersion.SemVer).zip'
    replaceExistingArchive: true
    verbose: true

- task: DeleteFiles@1
  inputs:
    SourceFolder: '$(Build.ArtifactStagingDirectory)/Standalone'
    Contents: '**'
    RemoveSourceFolder: true

- task: VSBuild@1
  displayName: "Build Squirrel aware"
  inputs:
    solution: '**\*.sln'
    platform: 'any cpu'
    configuration: 'Release'
    maximumCpuCount: true
    msbuildArchitecture: 'x64'
    createLogFile: true
    logFileVerbosity: 'detailed'

- task: PowerShell@2
  displayName: "Create squirrel installer"
  inputs:
    filePath: 'New-Installer.ps1'
    arguments: '-NoBuild -Version "$(GitVersion.MajorMinorPatch)" -verbose'
    ignoreLASTEXITCODE: true
    pwsh: true

- task: CopyFiles@2
  inputs:
    SourceFolder: '$(Build.Repository.LocalPath)/Releases'
    Contents: |
      *.exe
      RELEASES
      *-full.nupkg
    TargetFolder: '$(Build.ArtifactStagingDirectory)/Releases'
    CleanTargetFolder: true

- task: PublishBuildArtifacts@1
  inputs:
    PathtoPublish: '$(Build.ArtifactStagingDirectory)/Releases'
    ArtifactName: 'Releases'
    publishLocation: 'Container'

#- task: VSTest@2
#  inputs:
#    platform: '$(buildPlatform)'
#    configuration: '$(buildConfiguration)'
