<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NLog" version="4.2.3" targetFramework="net452" />
  <package id="NLog.Config" version="4.2.3" targetFramework="net452" />
  <package id="NLog.Schema" version="4.2.3" targetFramework="net452" />
  <package id="StyleCop.Analyzers" version="1.1.118" targetFramework="net452" developmentDependency="true" />
</packages>