<Services count="4">
  <Service key="Sentinel.Preferences.IUserPreferences" instanceType="Sentinel.Preferences.UserPreferences">
    <UserPreferences xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <SelectedTypeOption>1</SelectedTypeOption>
      <SelectedDateOption>3</SelectedDateOption>
      <Show>false</Show>
      <ShowThreadColumn>false</ShowThreadColumn>
      <UseLazyRebuild>false</UseLazyRebuild>
      <UseTighterRows>false</UseTighterRows>
      <UseStackedLayout>false</UseStackedLayout>
    </UserPreferences>
  </Service>
  <Service key="Sentinel.Highlighting.IHighlightingService" instanceType="Sentinel.Highlighting.HighlightingService">
    <HighlightingService xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <DisplayName>HighlightingService</DisplayName>
      <Highlighters>
        <Highlighter Name="Fatal" Enabled="true">
          <Field>Type</Field>
          <Pattern>FATAL</Pattern>
          <Style Fg="#FFFFFF00" Bg="#FF000000" />
          <Mode>Exact</Mode>
        </Highlighter>
        <Highlighter Name="Error" Enabled="true">
          <Field>Type</Field>
          <Pattern>ERROR</Pattern>
          <Style Fg="#FF000000" Bg="#FFFF0000" />
          <Mode>Exact</Mode>
        </Highlighter>
        <Highlighter Name="Warning" Enabled="true">
          <Field>Type</Field>
          <Pattern>WARN</Pattern>
          <Style Fg="#FF000000" Bg="#FFFFFF00" />
          <Mode>Exact</Mode>
        </Highlighter>
        <Highlighter Name="Info" Enabled="true">
          <Field>Type</Field>
          <Pattern>INFO</Pattern>
          <Style Fg="#FFFFFFFF" Bg="#FF0000FF" />
          <Mode>Exact</Mode>
        </Highlighter>
        <Highlighter Name="Debug" Enabled="true">
          <Field>Type</Field>
          <Pattern>DEBUG</Pattern>
          <Style Fg="#FFFFFFFF" Bg="#FF008000" />
          <Mode>Exact</Mode>
        </Highlighter>
      </Highlighters>
    </HighlightingService>
  </Service>
  <Service key="Sentinel.Filters.IFilteringService" instanceType="Sentinel.Filters.FilteringService">
    <FilteringService xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <DisplayName>FilteringService</DisplayName>
      <Filters>
        <Filter Enabled="true" Name="Fatal" Pattern="FATAL" Field="Type" Mode="Exact" />
        <Filter Enabled="true" Name="Error" Pattern="ERROR" Field="Type" Mode="Exact" />
        <Filter Enabled="true" Name="Warning" Pattern="WARN" Field="Type" Mode="Exact" />
        <Filter Enabled="true" Name="Info" Pattern="INFO" Field="Type" Mode="Exact" />
        <Filter Enabled="true" Name="Debug" Pattern="DEBUG" Field="Type" Mode="Exact" />
        <Filter Enabled="true" Name="Timing" Pattern="Timing" Field="Type" Mode="Exact" />
      </Filters>
    </FilteringService>
  </Service>
  <Service key="Sentinel.Highlighting.IQuickHighlighter" instanceType="Sentinel.Highlighting.QuickHighlighter">
    <QuickHighlighter xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <Highlighter Name="Quick Highlight" Enabled="true">
        <Field>System</Field>
        <Pattern>Test</Pattern>
        <Style Fg="#FF800080" Bg="#FF98FB98" />
        <Mode>Substring</Mode>
      </Highlighter>
    </QuickHighlighter>
  </Service>
</Services>