<Services count="1">
    <Service key="Sentinel.Interfaces.IUserPreferences" instanceType="Sentinel.Preferences.UserPreferences">
        <UserPreferences xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <SelectedDateOption>1</SelectedDateOption>
            <SelectedTypeOption>1</SelectedTypeOption>
            <Show>false</Show>
            <ShowThreadColumn>false</ShowThreadColumn>
            <UseLazyRebuild>false</UseLazyRebuild>
            <UseStackedLayout>false</UseStackedLayout>
            <UseTighterRows>false</UseTighterRows>
        </UserPreferences>
    </Service>
</Services>